@font-face {
    font-family: 'Archivo';
    src: url('~/assets/fonts/Archivo.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'TypeLock Unlocked';
    src: url('~/assets/fonts/TypeLock-Unlocked.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TypeLock Locked';
    src: url('~/assets/fonts/TypeLock-Locked.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}